certifi==2024.2.2 ; python_full_version == "3.9.17"
charset-normalizer==3.3.2 ; python_full_version == "3.9.17"
click==8.1.7 ; python_full_version == "3.9.17"
clickhouse-driver==0.2.6 ; python_full_version == "3.9.17"
clickhouse-pool==0.5.3 ; python_full_version == "3.9.17"
colorama==0.4.6 ; python_full_version == "3.9.17" and platform_system == "Windows"
dnspython==2.5.0 ; python_full_version == "3.9.17"
idna==3.6 ; python_full_version == "3.9.17"
infi-clickhouse-orm @ git+https://github.com/featbit/infi.clickhouse_orm@ce2a0f249f691eaf2c7841c496987f4e7433d509 ; python_full_version == "3.9.17"
iso8601==2.1.0 ; python_full_version == "3.9.17"
kafka-python==2.0.2 ; python_full_version == "3.9.17"
pymongo==4.6.1 ; python_full_version == "3.9.17"
python-dateutil==2.8.2 ; python_full_version == "3.9.17"
python-dotenv==1.0.1 ; python_full_version == "3.9.17"
pytz==2024.1 ; python_full_version == "3.9.17"
requests==2.31.0 ; python_full_version == "3.9.17"
setuptools==69.0.3 ; python_full_version == "3.9.17"
six==1.16.0 ; python_full_version == "3.9.17"
sqlparse==0.3.1 ; python_full_version == "3.9.17"
tzdata==2023.4 ; platform_system == "Windows" and python_full_version == "3.9.17"
tzlocal==5.2 ; python_full_version == "3.9.17"
urllib3==1.26.18 ; python_full_version == "3.9.17"
